<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADPhotoPrep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ADPhotoPrep.Properties.Settings>
            <setting name="MaxFileSize" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="MaxOutputHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ADDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseWindowsCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTemplate" serializeAs="String">
                <value>C:\Temp\{User}_{DateTime}_bak.jpg</value>
            </setting>
        </ADPhotoPrep.Properties.Settings>
    </userSettings>
</configuration>
